.card-wrapper {
  width: 100%;
  border-radius: 24px;
  background-color: #fff;
  padding: 16px;
}

.card-img {
  width: 100%;
  border-radius: 24px;
  margin-bottom: 16px;
}

.card-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  margin-bottom: 8px;
}

.card-shop-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F7F7F;
  margin-bottom: 16px;
}

.card-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
